/* モーダルのコンテンツ部分のスタイル */
.modal-contents {
    background: #fff; /* 背景色を白に設定 */
    padding: 20px; /* 内側の余白を設定 */
    border-radius: 10px; /* 角を丸くする */
    width: 500px; /* 横幅を90%に設定 */
    max-width: 1000px; /* 最大幅を1000pxに設定 */
    max-height: 80%; /* 最大高さを80%に設定 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 軽い影を追加 */
    border: 2px solid rgba(162, 217, 255, 0.5); /* 薄い水色の枠線 */
    animation: fadeIn 0.3s ease; /* アニメーションを適用 */
  }
  
  /* フェードインアニメーションの定義 */
  @keyframes fadeIn {
    from {
      opacity: 0; /* 透明から */
      transform: scale(0.9); /* 少し小さい状態から */
    }
    to {
      opacity: 1; /* 不透明に */
      transform: scale(1); /* 通常のサイズに */
    }
  }